<% if chore_list != [] %>
      <center>
        <div id="<%= list_frequency %>">
          <% chore_list.each do |chore| %>
            <% if chore.time_of_day == "morning" %>
              <div class="<%= chore.frequency %> edit-button" id="<%= chore.id%>">☀ <%= chore.name %> -- <%= link_to ' (edit) ', edit_list_chore_path(@list, chore) %><a href="#" class="delete-chore" data-id='[<%=chore.id%>, <%=@list.id%>]'>✖</a></div>
            <% elsif chore.time_of_day == "evening" %>
              <div class="<%= chore.frequency %> edit-button" id="<%= chore.id%>">☾ <%= chore.name %> -- <%= link_to ' (edit) ', edit_list_chore_path(@list, chore) %><a href="#" class="delete-chore" data-id='[<%=chore.id%>, <%=@list.id%>]'>✖</a></div>
              <% else %>
              <div class="<%= chore.frequency %> edit-button" id="<%= chore.id%>"><%= chore.name %> -- <%= link_to ' (edit) ', edit_list_chore_path(@list, chore) %><a href="#" class="delete-chore" data-id='[<%=chore.id%>, <%=@list.id%>]'>✖</a></div>
            <% end %>
          <% end %>
        </div>
    </center>
<% else %>
  <br><br>
  <center>You have no chores created.</center>
  <br>
<% end %>