<% if chore_list != [] %>
      <ul id="<%= list_frequency %>">
        <% chore_list.each do |chore| %>
          <% if chore.time_of_day == "morning" %>
            <li class="<%= chore.frequency %> border-lite" id="<%= chore.id%>">☀ <%= chore.name %> <%= link_to '✎', edit_list_chore_path(@list, chore) %><a href="#" class="delete-chore" data-id='[<%=chore.id%>, <%=@list.id%>]'>✖</a></li>
          <% elsif chore.time_of_day == "evening" %>
            <li class="<%= chore.frequency %> border-lite" id="<%= chore.id%>">☾ <%= chore.name %> <%= link_to '✎', edit_list_chore_path(@list, chore) %><a href="#" class="delete-chore" data-id='[<%=chore.id%>, <%=@list.id%>]'>✖</a></li>
            <% else %>
            <li class="<%= chore.frequency %> border-lite" id="<%= chore.id%>"><%= chore.name %> <%= link_to '✎', edit_list_chore_path(@list, chore) %><a href="#" class="delete-chore" data-id='[<%=chore.id%>, <%=@list.id%>]'>✖</a></li>
          <% end %>
        <% end %>
      </ul>
<% else %>
  <br><br>
  <center>You have no chores created.</center>
  <br>
<% end %>