<% if chore_list != [] %>
      <div class="items">
      <% chore_list.each do |chore| %>
        <% if chore.time_of_day == "morning" %>
          <div class="item"><button class="<%= decide_button_class(chore.past_due, chore.frequency)%> select-button" data-id="<%= [chore.id, list.id] %>">☀ <%= chore.name %></button></div>
        <% elsif chore.time_of_day == "evening" %>
        <div class="item"><button class="<%= decide_button_class(chore.past_due, chore.frequency)%> select-button" data-id="<%= [chore.id, list.id] %>">☾ <%= chore.name %></button></div>
        <% else %>
        <div class="item"><button class="<%= decide_button_class(chore.past_due, chore.frequency)%> select-button" data-id="<%= [chore.id, list.id] %>"><%= chore.name %></button></div>
        <% end %>
      <% end %>
      </div
<% else %>
<br><br>
  <center>Woohoo!  All done! Great work!</center>
<br>
<% end %>