<% if chore_list != [] %>
  <% chore_list.each_slice(slice_count(chore_list.count)) do |chores| %>
    <div class="minicolumn">
      <% chores.each do |chore| %>
        <% if chore.time_of_day == "morning" %>
          ☀ <%= chore.name %>
          <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete"%> |<br>
        <% elsif chore.time_of_day == "evening" %>
          ☾ <%= chore.name %>
          <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete"%> |<br>
          <% else %>
          <%= chore.name %>                    
          <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete"%> |<br>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
<br><br>
  <center>You have no chores created.</center>
<br>
<% end %>