      <div class="dummycolumn">
        .<br>.<br>.<br>

        
      </div>

        <div class="column1_header">
          <div class="alignleft_header">
              <%= link_to image_tag((list_type_photo @list), :class=> "logo"), @list %> <%= @list.name %>
          </div>
          <div class="alignright_header">
            <br><br>
            (EDIT MODE)
          </div>
          
          <div style="clear: both;"></div>
      </div>
      <div class="column1_line">
        <center>
          <%= form_for(@list) do |f| %>
            <%= f.text_field :name, :value => @list.name, :class => 'edit_name', :maxlength => 15, :size => 40 %><br>
            <%= f.submit 'Change Name', :class => 'edit_name_button' %>
          <% end %>
        </center>
      </div>
      <div class="column1_line">
        <center>
          <h2>Current Members</h2><br>
          <% @list.users.each do |user| %>
            <% if user == current_user %>
              <div class="container">
                You<br>
                <img src= "<%= user.imgurl %>" class="logo"><br>
              </div>
            <% else %>
              <div class="container">
                <%= user.name %><br>
                <%= link_to image_tag(user.imgurl, :class => "logo"), user_path(user.id) %><br>
                <div class="imgtxt">
                  <%= link_to 'Remove', remove_from_list_path(@list.id, :user => user.id) %>
                </div>
              </div>
            <% end %>
          <% end %>
        </center>
          <div>
            <center>
              <br>
              Want to invite another person?<br>
              Enter their email below.<br>
              <%= render 'layouts/messages' %>
              <%= form_for ([@list, @list.invites.new]) do |f| %>
                <%= f.text_field :email, :class =>"email_invite" %><br>
                <%= f.submit "Send Invite", :class => "edit_name_button" %>
              <% end %>
            </center>
          </div>
      </div>
      <div class="column1_line">
          <center>
            <br><h1 style="color: #70c1b3 ">Daily</h1>
          </center>
          <% @daily_chores.each_slice(slice_count(@daily_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <% if chore.time_of_day == "morning" %>
                  <div class="chore_edit">
                    ☀ <%= chore.name %>
                    <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                  </div>
                <% elsif chore.time_of_day == "evening" %>
                  <div class="chore_edit">
                    ☾ <%= chore.name %>
                    <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                  </div>
                <% else %>
                  <div class="chore_edit">
                    <%= chore.name %>                    
                    <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                  </div>
                <% end %>
              <% end %>
            </div>
        <% end %>
        <div class="column1">
        <%= form_for([@list, @list.chores.new]) do |f| %>
          <%= f.hidden_field :frequency, { :value => 'daily' } %>

          <div class="field">
            <center>
              <h2 style="color: #70c1b3 ">Create a new Daily Chore</h2>
              <%= f.text_field :name, :maxlength => 100, :size => 40 %><br>
              <%= f.radio_button :time_of_day, 'morning' %> Morning | 
              <%= f.radio_button :time_of_day, 'evening' %> Evening |
              <%= f.radio_button :time_of_day, nil, :checked => 'checked' %> Any Time
            </center>
          </div>

          <div class="actions">
            <%= f.submit "Create Chore" %>
          </div>

        <% end %>
      </div>
      </div>

      <div class="column1_line">
        <center>
          <h1 style="color: #F9C563">Weekly</h1>
        </center>
          <% @weekly_chores.each_slice(slice_count(@weekly_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <div class="chore_edit">
                  <%= chore.name %>
                  <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="column1">
            <%= form_for([@list, @list.chores.new]) do |f| %>
              <%= f.hidden_field :frequency, { :value => 'weekly' } %>

              <div class="field">
                <center>
                  <h2 style="color: #F9C563">Create a new Weekly Chore</h2>
                  <%= f.text_field :name, :maxlength => 100, :size => 40 %><br>
                </center>
              </div>

              <div class="actions">
                <%= f.submit "Create Chore", :class => 'chore_weekly_click' %>
              </div>

            <% end %>
          </div>
      </div>

      <div class="column1_line">
        <center>
          <h1 style="color: #247BA0">Monthly</h1>
        </center>
          <% @monthly_chores.each_slice(slice_count(@monthly_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <div class="chore_edit">
                  <%= chore.name %>
                  <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                </div>
              <% end %>
            </div>
        <% end %>
        <div class="column1">
            <%= form_for([@list, @list.chores.new]) do |f| %>
              <%= f.hidden_field :frequency, { :value => 'monthly' } %>
              <div class="field">
                <center>
                  <h2 style="color: #247BA0">Create a new Monthly Chore</h2>
                  <%= f.text_field :name, :maxlength => 100, :size => 40 %><br>
                </center>
              </div>

              <div class="actions">
                <%= f.submit "Create Chore", :class => 'chore_monthly_click' %>
              </div>

            <% end %>
          </div>
      </div>
      <div class="column1_line">
        <center><h2><%= link_to 'Delete This List', list_path(@list.id), :method=>"delete" %></h2></center>
      </div>
      
    </div>

      

       

