      <div class="dummycolumn">
        .<br>.<br>.<br>
        
      </div>





        <div class="column1_header">
          <div class="alignleft_header">
            <% if @list.list_type == 'Home' %>
              <%= link_to image_tag("house.png", :class=> "logo"), @list %> <%= @list.name %>
            <% elsif %>
              <%= link_to image_tag("laptop.png", :class=> "logo"), @list %> <%= @list.name %>
            <% else %>
              <%= link_to image_tag("car.png", :class=> "logo"), @list %> <%= @list.name %>
            <% end %>
          </div>
          <div class="alignright_header">
            <br>
            <% @list.users.each do |user| %>
              <img class="photo" src="<%= user.imgurl %>">
            <% end %>
              <%= link_to image_tag("plus.png", :class=> "photo"), new_list_invite_path(@list.id) %>
          </div>
          
          <div style="clear: both;"></div>
      </div>
      <div class="column1_line">
        <center>
          <%= form_for(@list) do |f| %>
            <%= f.text_field :name, :value => @list.name, :class => 'edit_name' %><br>
            <%= f.submit 'Edit Name', :class => 'edit_name_button' %>
          <% end %>
        </center>
      </div>
      <div class="column1_line">
          <center>
            <br><h1 style="color: #70c1b3 ">Daily</h1>
          </center>
          <% @daily_chores.each_slice(slice_count(@daily_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <% if chore.time_of_day == "morning" %>
                  <div class="chore_edit">
                    ☀ <%= chore.name %>
                    <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                  </div>
                <% elsif chore.time_of_day == "evening" %>
                  <div class="chore_edit">
                    ☾ <%= chore.name %>
                    <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                  </div>
                <% else %>
                  <div class="chore_edit">
                    <%= chore.name %>                    
                    <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                  </div>
                <% end %>
              <% end %>
            </div>
        <% end %>
        <div class="column1">
        <%= form_for([@list, @list.chores.new]) do |f| %>
          <%= f.hidden_field :frequency, { :value => 'daily' } %>

          <div class="field">
            <center>
              <h2 style="color: #70c1b3 ">Create a new Daily Chore</h2>
              <%= f.text_field :name %><br>
              <%= f.radio_button :time_of_day, 'morning' %> Morning | 
              <%= f.radio_button :time_of_day, 'evening' %> Evening |
              <%= f.radio_button :time_of_day, nil, :checked => 'checked' %> Any Time
            </center>
          </div>

          <div class="actions">
            <%= f.submit "Create Chore" %>
          </div>

        <% end %>
      </div>
      </div>

      <div class="column1_line">
        <center>
          <h1 style="color: #F9C563">Weekly</h1>
        </center>
          <% @weekly_chores.each_slice(slice_count(@weekly_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <div class="chore_edit">
                  <%= chore.name %>
                  <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="column1">
            <%= form_for([@list, @list.chores.new]) do |f| %>
              <%= f.hidden_field :frequency, { :value => 'weekly' } %>

              <div class="field">
                <center>
                  <h2 style="color: #F9C563">Create a new Weekly Chore</h2>
                  <%= f.text_field :name %><br>
                </center>
              </div>

              <div class="actions">
                <%= f.submit "Create Chore", :class => 'chore_weekly_click' %>
              </div>

            <% end %>
          </div>
      </div>

      <div class="column1_line">
        <center>
          <h1 style="color: #247BA0">Monthly</h1>
        </center>
          <% @monthly_chores.each_slice(slice_count(@monthly_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <div class="chore_edit">
                  <%= chore.name %>
                  <br>| <%= link_to '✎', edit_list_chore_path(@list, chore) %>     | <%= link_to "✖", list_chore_path(@list, chore), :method => "delete", :class => "destroy" %> |
                </div>
              <% end %>
            </div>
        <% end %>
        <div class="column1">
            <%= form_for([@list, @list.chores.new]) do |f| %>
              <%= f.hidden_field :frequency, { :value => 'monthly' } %>
              <div class="field">
                <center>
                  <h2 style="color: #247BA0">Create a new Monthly Chore</h2>
                  <%= f.text_field :name %><br>
                </center>
              </div>

              <div class="actions">
                <%= f.submit "Create Chore", :class => 'chore_monthly_click' %>
              </div>

            <% end %>
          </div>
      </div>
      <div class="column1_line">
        <center><h2><%= link_to 'Delete This List', list_path(@list.id), :method=>"delete" %></h2></center>
      </div>
      
    </div>


