

      <div class="dummycolumn">
        .<br>.<br>.<br>
      </div>

      <div class="column1_header">
        <div class="alignleft_header">
          <%= link_to image_tag((list_type_photo @list), :class=> "logo"), @list %> <%= @list.name %>
        </div>
        <div class="alignright_header">
          <br>
          <% @list.users.each do |user| %>
            <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
          <% end %>
          <% if can? :update, @list %>
            <%= link_to image_tag("edit_icon.png", :class => "edit"), edit_list_path(@list.id) %>
          <% end %>
        </div>
        
        <div style="clear: both;"></div>
      </div>
  
      <div class="column1_line">
        <center>
          <h1>Daily</h1>
          <br>Complete all tasks today to stay on track.
        </center>
          <%= render partial: "minicolumn", locals: {chore_list: @daily_chores } %>
      </div>

      <div class="column1_line">
        <center>
          <h1>Weekly</h1>
          <br>Complete 2 today to stay on track.
        </center>
          <%= render partial: "minicolumn", locals: {chore_list: @weekly_chores } %>
        </div>

      <div class="column1_line">
        <center>
          <h1>Monthly</h1>
          <br>Complete 1 today to stay on track.
        </center>
          <%= render partial: "minicolumn", locals: {chore_list: @monthly_chores } %>
      </div>
      
    </div>