

      <div class="dummycolumn">
        .<br>.<br>.<br>
      </div>

        <div class="column1_header">
          <div class="alignleft_header">
            <% if @list.list_type == 'Home' %>
              <%= link_to image_tag("house.png", :class=> "logo"), @list %> <%= @list.name %>
            <% elsif %>
              <%= link_to image_tag("laptop.png", :class=> "logo"), @list %> <%= @list.name %>
            <% else %>
              <%= link_to image_tag("car.png", :class=> "logo"), @list %> <%= @list.name %>
            <% end %>
          </div>
          <div class="alignright_header">
            <br>
            <% @list.users.each do |user| %>
              <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
            <% end %>
            <% if can? :update, @list %>
              <%= link_to image_tag("edit_icon.png", :class => "edit"), edit_list_path(@list.id) %>
            <% end %>
          </div>
          
          <div style="clear: both;"></div>
      </div>
  
      <div class="column1_line">
          <center>
            <h1>Daily</h1>
            <br>Complete all tasks today to stay on track.
          </center>
          <% @daily_chores.each_slice(slice_count(@daily_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <% if chore.past_due == true %>
                  <% if chore.time_of_day == "morning" %>
                  <br><%= button_to "☀ " + chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_pastdue" %>
                  <% elsif chore.time_of_day == "evening" %>
                  <br><%= button_to "☾ " + chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_pastdue" %>                
                  <% else %>
                  <br><%= button_to chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_pastdue" %>                
                  <% end %>
                <% elsif chore.time_of_day == "morning" %>
                  <br><%= button_to "☀ " + chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_daily" %>                
                <% elsif chore.time_of_day == "evening" %>
                  <br><%= button_to "☾ " + chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_daily" %>                
                <% else %>
                  <br><%= button_to chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_daily" %>                
                <% end %>
              <% end %>
            </div>
        <% end %>
      </div>

      <div class="column1_line">
        <center>
          <h1>Weekly</h1>
          <br>Complete 2 today to stay on track.
        </center>
          <% @weekly_chores.each_slice(slice_count(@weekly_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <% if chore.past_due == true %>
                  <br><%= button_to chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_pastdue" %>                
                <% else %>
                  <br><%= button_to chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_weekly" %>                
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>

      <div class="column1_line">
        <center>
          <h1>Monthly</h1>
          <br>Complete 1 today to stay on track.
        </center>
          <% @monthly_chores.each_slice(slice_count(@monthly_chores.count)) do |chores| %>
            <div class="minicolumn">
              <% chores.each do |chore| %>
                <% if chore.past_due == true %>
                  <br><%= button_to chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_pastdue" %>                
                <% else %>
                  <br><%= button_to chore.name, complete_list_chore_path(@list, chore), :method => :get, :class => "chore_monthly" %>                
                <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
      
    </div>