
<div class="row">
        <div class="col-sm-3 col-xs-12 zero-padding fixed white-background">
            <div class="fixed-sidebar zero-padding">
                    <div class="col-xs-12 zero-padding">
                        <div class="nav-bar">
                            <%= render partial: "list_navbar", locals: {list: @list} %>
                        </div>
                        <div class="right-bar align-text-bottom text-right">
                            <% @list.users.each do |user| %>
                                <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
                            <% end %>
                            <% if can? :edit, @list %>
                                <%= link_to image_tag('gear.png', :class =>"photo"), edit_list_path(@list.id) %>
                            <% end %>  
                        </div>
                        
                        <div class="col-xs-12 zero-padding title">
                            <%= render partial: "list_navbar", locals: {list: @list} %>
                        </div>
                        <div class="users-bar col-xs-12 zero-padding">
                            <% @list.users.each do |user| %>
                            <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
                            <% end %>
                            <% if can? :edit, @list %>
                                 <%= link_to image_tag('plus.png', :class =>"photo"), new_list_invite_path(@list.id) %>
                             <% end %>
    
                        </div>
                        <div class="users-bar col-xs-12 zero-padding">
                            <% if can? :edit, @list %>
                                <%= link_to image_tag('gear.png', :class =>"photo"), edit_list_path(@list.id) %>
                            <% end %>  
                        </div>
                        <div class="users-bar col-xs-12 zero-padding">
                            <div><span style="font-size: .9em;">Legend:</span></div>
                            <div class="legend daily">Daily</div>
                            <div class="legend weekly">Weekly</div> 
                            <div class="legend monthly">Monthly</div> 
                            <div class="legend pastdue">Past Due</div> 
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12 chore-container">
            <div class="row col-xs-12 zero-padding lists-border">
                <div class="row content padding1" id="notice">
                    <%= render 'layouts/messages' %><br>
                </div>
                <% if can? :manage, @list %>
                    <div class="col-xs-12">
                        <%= form_for(@list) do |f| %>
                            <h3>Edit List Name</h3>
                            <%= f.text_field :name, :value => @list.name, :class => 'edit_name', :maxlength => 10, :size => 40 %><br>
                            <%= f.submit 'Update', :class => 'edit_name_button', :id => 'change-name' %>
                        <% end %>
                        <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
                            <%= render partial: 'edit_members', locals: {list: @list} %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="row content chore-container">
                <div class="col-xs-12">
                        <h3>Add/Edit/Delete Chores</32>
                </div>
                <div class="col-xs-12">
                    <%= render partial: "minicolumn_edit", locals: {chore_list: @daily_chores, :list_frequency => "daily" } %>
                </div>
                <div class="col-xs-12">
                    <%= render partial: "minicolumn_edit", locals: {chore_list: @weekly_chores, :list_frequency => "weekly" } %>
                </div>
                <div class="col-xs-12">
                    <%= render partial: "minicolumn_edit", locals: {chore_list: @monthly_chores, :list_frequency => "monthly" } %>
                </div>
                <div class="col-xs-12">
                    <%= render partial: 'chores/chore_new', locals: {chore: @chore, list: @list } %>
                </div>

                    
                    </div>
            </div>
            <% if can? :manage, @list %>
                <div class="col-xs-12 col-md-12">
                    <h3><%= link_to "Delete '#{@list.name}'", list_path(@list.id), :method=>"delete" %></h3><span>This action cannot be undone.</span>
                    <br>
                </div>
            <% end %>
    
    </div>
    
    




