
  <div class="dummycolumn">
    .<br>.<br>.<br>
  </div>

    <div class="column1_header">
      <div class="alignleft_header">
          <%= link_to image_tag((list_type_photo @list), :class=> "logo"), @list %> <%= @list.name %>
      </div>
      <div class="alignright_header">
        <br><br>
        (EDIT MODE)
      </div>
      
      <div style="clear: both;"></div>
  </div>
  <div class="column1_line">
    <center>
      <%= render 'layouts/messages' %>
      <%= form_for(@list) do |f| %>
        <%= f.text_field :name, :value => @list.name, :class => 'edit_name', :maxlength => 15, :size => 40 %><br>
        <%= f.submit 'Change Name', :class => 'edit_name_button' %>
      <% end %>
    </center>
  </div>

  <div class="column1_line">
    <center>
      <br><h1 style="color: #70c1b3 ">Daily</h1>
    </center>
    <%= render partial: "minicolumn_edit", locals: {chore_list: @daily_chores } %>
  </div>

  <div class="column1_line">
    <center>
      <h1 style="color: #F9C563">Weekly</h1>
    </center>
    <%= render partial: "minicolumn_edit", locals: {chore_list: @weekly_chores } %>
  </div>

  <div class="column1_line">
    <center>
      <h1 style="color: #247BA0">Monthly</h1>
    </center>
    <%= render partial: "minicolumn_edit", locals: {chore_list: @monthly_chores } %>
  </div>
    <div class="column1">
        <%= render partial: 'chores/chore_new', locals: {chore: @chore, list: @list } %>
      </div>
  </div>
  <div class="column1_line">
    <center>
      <h2>Current Members</h2><br>
      <% @list.users.each do |user| %>
        <% if user == current_user %>
          <div class="container">
            You<br>
            <img src= "<%= user.imgurl %>" class="logo"><br>
          </div>
        <% else %>
          <div class="container">
            <%= user.name %><br>
            <%= link_to image_tag(user.imgurl, :class => "logo"), user_path(user.id) %><br>
            <div class="imgtxt">
              <%= link_to 'Remove', remove_from_list_path(@list.id, :user => user.id) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </center>
      <div>
        <center>
          <br>
          Want to invite another person?<br>
          Enter their email below.<br>
          <%= form_for ([@list, @list.invites.new]) do |f| %>
            <%= f.text_field :email, :class =>"email_invite" %><br>
            <%= f.submit "Send Invite", :class => "edit_name_button" %>
          <% end %>
        </center>
      </div>
  </div>
  <div class="column1_line">
    <center><h2><%= link_to 'Delete This List', list_path(@list.id), :method=>"delete" %></h2></center>
  </div>
  
</div>

<div class="column1_line">
  <%= render 'assign_admin' %>
</div>

      

       




