
<div class="dummycolumn">
  .<br>.<br>.<br>
</div>


<div class="column1">
    <center>
      <h1>Welcome, <h1><span style="color: #FF3067"> <%= current_user.name %></span></h1>
      <h3>Select a list to work on or create a new one.</h3>
    </center>
</div>
<div class="column1">
  <center>
  <% @lists.each do |list| %>
      <div class="container">
        <%= link_to image_tag((list_type_photo list), :class => "list_icon"), list_path(list.id) %><br>
        <div class="imgtxt">
          <%= list.name %>
        </div>
      </div>
  <% end %>
  <div class="container">
    <%= link_to image_tag("plus.png", :class => "list_icon"), new_list_path %><br>
    <div class="imgtxt">
        Add List
      </div>
  </div>

 <div class="column1">
  <center>
    <br><br>
  <% @invites.each do |invite| %>
    <% if (list_name invite.list_id) != nil  && invite.status != "closed" %>
      <span style="color: orange">Invite:</span>
      <%= link_to (list_name invite.list_id), join_list_path(invite.list_id)  %>
    <% else %>
    <% end %>
  <% end %>
</center>
</div>



  </div>
</center>
</div>


 








