<div class="row content padding1">
    <%= render 'layouts/messages' %><br>
</div>
<div class="row content">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 text-left bottom-border padding4">
      <%= image_tag("sweep.png", :class => "logo") %>
      <span style="display: inline-block; vertical-align: bottom;">
          <span style="font-size: 28px; font-family: 'Lobster', cursive;">Welcome, <span style="color: #FF3067"> <%= current_user.name %></span></span>
      </span> 
  </div>
</div>
<div class="row content">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 padding4">
    <h3>Click on one of your chore lists or create a new list...</h3>
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 lists">
        <% @lists.each do |list| %>
          <div class="list">
            <%= link_to image_tag((list_type_photo list), :class => "list_icon"), list_path(list.id) %><br>
            <%= list.name %><br>
            <% if check_list_past_due list %>
              <span style="color: #FF3067">PAST DUE</span>
            <% end %>
          </div>
        <% end %>
        <% @invites.each do |invite| %>
        <% if (list_name invite.list_id) != nil  && invite.status != "closed" %>
        <div class="list">  
          <%= link_to image_tag((list_type_photo (list_object invite.list_id)), :class => "list_icon"), join_list_path(invite.list_id) %><br>
          <%= list_name invite.list_id %></br>
          <span style="color: orange;">INVITE</span>
        </div>
        <% end %>
      <% end %>
        <div class="list">
            <%= link_to image_tag("plus.png", :class => "list_icon img-rounded"), new_list_path %><br>
            Create a List
        </div>
    </div>
  </div>    
</div>

<div class="row content">
  <span style="color: white;">........</span>
</div>





 








