
<div class="row content">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 text-left bottom-border padding4">
      <span style="display: inline-block; vertical-align: bottom;">
          <%= render "layouts/navbar" %>
      </span> 
  </div>
</div>
<div class="row content">
  <div class="col-xs-12 padding6">
    <%= render 'layouts/messages' %><br>
    <h3>Hello, <span style="color: #FF3067"> <%= current_user.name %>.</span></h3>
    <p>Welcome to SimpleTidy. Let's get started with your chore lists...</p>
    <center>
      <div class="lists-container">
          <div class="lists">  
                <% @lists.each do |list| %>
                  <div class="list">
                    <% if (check_list_past_due list) == true %>
                      <%= link_to image_tag((list_type_photo_pastdue list), :class => "list_icon"), list_path(list.id) %><br>
                      <span style='color: red'><%= list.name %></span><br>
                    <% else %>
                      <%= link_to image_tag((list_type_photo list), :class => "list_icon"), list_path(list.id) %><br>
                      <span><%= list.name %></span><br>
                    <% end %>
                  </div>
                <% end %>
                <% @invites.each do |invite| %>
                <% if (list_name invite.list_id) != nil  && invite.status != "closed" %>
                  <div class="list">  
                    <%= link_to image_tag((list_type_photo (list_object invite.list_id)), :class => "list_icon"), join_list_path(invite.list_id) %><br>
                    <%= list_name invite.list_id %></br>
                    <span style="color: orange;">INVITE</span>
                  </div>
                <% end %>
                <% end %>
                <div class="list">
                    <%= link_to image_tag("plus.png", :class => "list_icon img-rounded"), new_list_path %><br>
                    Create a List
                </div>
          </div>
        </div>
    </center>
  </div>    
</div>





 








