<%= form_for(@list) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
      Invites:
      <%= f.fields_for :invites do |invite| %>
        <%= invite.label :email %>
        <%= invite.text_field :email %>
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>