<%= form_for(@list) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
      List Type:<br>
      <%= f.radio_button :list_type, 'Home' %> Home<br />
      <%= f.radio_button :list_type, 'Car' %> Car<br />
      <%= f.radio_button :list_type, 'Tech' %> Tech<br />
      Invites:
      <%= f.fields_for :invites do |invite| %>
        <br><%= invite.label :email %>
        <%= invite.text_field :email %>
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>