
<div class="row">
    <div class="col-sm-3 col-xs-12 zero-padding fixed white-background">
        <div class="fixed-sidebar zero-padding">
                <div class="col-xs-12 zero-padding">
                    <div class="nav-bar">
                        <%= render partial: "list_navbar", locals: {list: @list} %>
                    </div>
                    <div class="right-bar align-text-bottom text-right">
                        <% @list.users.each do |user| %>
                            <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
                        <% end %>
                        <% if can? :edit, @list %>
                            <%= link_to image_tag('gear.png', :class =>"photo"), edit_list_path(@list.id) %>
                        <% end %>  
                    </div>
                    
                    <div class="col-xs-12 zero-padding title">
                        <%= render partial: "list_navbar", locals: {list: @list} %>
                    </div>
                    <div class="users-bar col-xs-12 zero-padding">
                        <% @list.users.each do |user| %>
                        <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
                        <% end %>
                        <% if can? :edit, @list %>
                             <%= link_to image_tag('plus.png', :class =>"photo"), new_list_invite_path(@list.id) %>
                         <% end %>

                    </div>
                    <div class="users-bar col-xs-12 zero-padding">
                        <% if can? :edit, @list %>
                            <%= link_to image_tag('gear.png', :class =>"photo"), edit_list_path(@list.id) %>
                        <% end %>  
                    </div>
                    <div class="users-bar col-xs-12 zero-padding">
                        <div><span style="font-size: .9em;">Legend:</span></div>
                        <div class="legend daily">Daily</div>
                        <div class="legend weekly">Weekly</div> 
                        <div class="legend monthly">Monthly</div> 
                        <div class="legend pastdue">Past Due</div> 
                    </div>
                </div>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 chore-container">
        <div class="row col-xs-12 zero-padding">
            <%= render partial: "minicolumn", locals: {chore_list: @todo_chores.all, list: @list } %>      
        </div>
        <div class="row col-xs-12 zero-padding">
                <div id="completed-list-container">
                    <% if @done_chores.length > 0 %>        
                        <div class="show-completed"><a href=''>Toggle Completed Chores</a></div>
                    <% else %>
                        <div class="show-completed"></div>
                    <% end %>
                        <div class="row col-xs-12 completed-chores zero-padding">
                            <div class="completed-items">
                                <% @done_chores.each do |chore| %>
                                    <div class="completed-item">
                                        <button class="chore completed" id="<%= chore.id %>">
                                            <%= decide_time_of_day chore %>
                                        </button>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>


