


<div class="row content padding1">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
        <%= render 'layouts/messages' %><br>
        <%# render partial: "goal", locals: {chore_frequency: "Weekly", chore_count: @weekly_chores.count } %>
    </div>
</div>
<div class="row content">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
        <div class="col-xs-8 col-md-8 height60 padding2">
            <div class="col-xs-12 col-md-12 align-text-bottom text-left">
                <%= link_to image_tag((list_type_photo @list), :class=> "logo"), @list %>
                <span style="display: inline-block; vertical-align: bottom;">
                    <span style="font-size: 28px; font-family: 'Lobster', cursive;">
                    <%= @list.name %> 
                    </span>
                </span> 
            </div>
        </div>
        <div class="col-xs-4 col-md-4 height60 padding2">
            <div class="col-xs-12 col-md-12 align-text-bottom text-right goals">
                <span style="display: inline-block; vertical-align: bottom;">
                    <span style="font-size: 15px;">
                        Goals: <%= link_to image_tag('star_black.png', :class=> "star"), @list %>
                        <% if can? :edit, @list %>
                            Edit: <%= link_to image_tag("edit_icon.png", :class => "edit"), edit_list_path(@list.id) %>
                        <% end %>
                    </span>
                </span> 
            </div>
        </div>
    </div>
</div>
<div class="row content padding1">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 img-rounded border padding4">
    <div class="row content padding0">
        <span style="color: #3d9c8c; font-size: 15px;">● Daily</span> <span style="color: rgb(231, 154, 12); font-size: 15px;"> ● Weekly</span> <span style="color: #247BA0; font-size: 15px;"> ● Monthly</span>
    </div>    
    <div class="row content padding0">
        <%= render partial: "minicolumn", locals: {chore_list: @todo_chores.all, list: @list } %>      
    </div>
    <div class="row content padding0">
        <div class="completed-chores">
            <a href="#" class="show-completed">Show Completed Chores</a>
            <div class="completed-items">
                <% @done_chores.each do |chore| %>
                    <div class="completed-item">
                        <button class="chore completed" id="<%= chore.id %>">
                            <%= chore.name %>
                        </button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="row content padding1">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
        <div class="col-xs-12 col-md-12 height60 padding2">
            <div class="col-xs-12 col-md-12 align-text-top text-center">
                <% @list.users.each do |user| %>
                    <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
                <% end %>
                <% if can? :edit, @list %>
                    <%= link_to image_tag('plus.png', :class =>"photo"), new_list_invite_path(@list.id) %>
                <% end %>
                <span style="font-size: 15px;"><br>Members</span>
            </div>
        </div>
    </div>
</div>
   





    <script type="text/javascript" charset="utf-8">
        $(function () {
          $(document).on('click', ".select-button", function(e) {
            console.log("works")
            var ids = $(this).data("id");
            var url = `/lists/${ids[1]}/chores/${ids[0]}/complete`
            $.ajax ({
                method: "GET",
                url: url,
                chore_id: ids[0],
                list_id: ids[1]
            }).done(function(data){
                if ($(".select-button").length === 1){
                    $(`#${this.chore_id}`).remove();
                    $("#list-container").html("<br><br><center>Woohoo!  All done! Great work!</center><br>");
                } else {
                    $("#list-container").load(location.href+" #list-container");
                }
                $.get("/lists/" + data.id + "/chores/" + this.chore_id + ".json", function(data) {
                console.log(`${data.id}`)
                    $(".completed-items").append(`
                    
                    <div class="completed-item">
                        <button class="chore completed" id="${data.id}">
                            ${data.name}
                        </button>
                    </div>
                    
                    `)
                })

            })
            e.preventDefault
          });

          $(document).on('click', ".show-completed", function(e){
              $(".completed-items").toggle();
          })





        });
    </script>
        