<div class="dummycolumn">
  .<br>.<br>.<br>
</div>

<div class="column1_header">
    <div class="alignleft_header">
        <%= link_to image_tag((list_type_photo @list), :class=> "logo"), @list %> <%= @list.name %>
    </div>
    <div class="alignright_header">
      <br><br>
      (EDIT MODE)
    </div>
    
    <div style="clear: both;"></div>
</div>
  <div class="column1_line">
    <center>
      <% @list.users.each do |user| %>
        <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %>
      <% end %>
      <br>
      <h3>Invite another friend to help you with "<%= @list.name %>"?</h3>
      Enter their email below.<br>
      <%= render partial: 'new', locals: {list: @list} %>
      <br><br>
      <%= link_to "Back", :back %>
    </center>
  </div>