<div class="dummycolumn">
  .<br>.<br>.<br>
</div>

<div class="column1_header">
    <center>
    <div class="field">
      
        <% if @list.list_type == 'Home' %>
          <%= link_to image_tag("house.png", :class=> "logo"), @list %>
        <% elsif %>
          <%= link_to image_tag("laptop.png", :class=> "logo"), @list %>
        <% else %>
          <%= link_to image_tag("car.png", :class=> "logo"), @list %>
        <% end %>
        <h2 style="color: #70c1b3 "><%= @list.name %></h2>
        Current Members<br>
            <% @list.users.each do |user| %>
              <% if user == current_user %>
                <img src= "<%= user.imgurl %>" class="photo"><br>
                You<br><br>
              <% else %>
                <%= link_to image_tag(user.imgurl, :class => "photo"), user_path(user.id) %><br>
                <%= user.name %><br>
                <%= link_to 'Remove', remove_from_list_path(@list.id, :user => user.id) %>
              <% end %>
            <% end %>
        <br>
        Want to invite another person?<br>
        Enter their email below.<br>
        <%= form_for([@list, @list.invites.new]) do |f| %>
          <%= f.text_field :email, :class =>"email_invite" %>
    </div>

    <div class="actions">
      <%= f.submit "Send Invite", :class => "edit_name_button" %>
    </div>
    </center>

  <% end %>
</div>