<div class="row content">
    <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 text-left bottom-border padding4">
        <span style="display: inline-block; vertical-align: bottom;">
            <%= render "layouts/navbar" %>
        </span> 
    </div>
  </div>
  <div class="row content">
    <center>
        <div class="lists-container">
            <%= render 'layouts/messages' %><br>
            <h3>Let's make housekeeping simple.</h3>
            <div>
                <span style="color: red"><%= devise_error_messages! %></span>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name %>
              </div>
          
              <div class="field">
                <%= f.label :email %><br>
                <%= f.email_field :email, autofocus: true %>
              </div>
          
              <div class="field">
                <%= f.label :password %><br>
                <%= f.password_field :password, autocomplete: "off" %><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password" %>
              </div>
          
              <div class="actions">
                <%= f.submit "Create Your New Account", :class => "edit_name_button" %>
                
              </div>
              <% end %>
              <div>
                Or...<br><br>
              </div>
              <div class="actions">
                  <% if devise_mapping.omniauthable? %>
                  <% resource_class.omniauth_providers.each do |provider| %>
                    <%= link_to "Sign up with Facebook", omniauth_authorize_path(resource_name, provider), :class => "facebook" %>
                  <% end %>
                <% end %>
              </div>
              <div>
                  <h3>Already have an account?</h3>
                  <% if controller_name != 'sessions' %>
                    <%= link_to "Log in", new_session_path(resource_name) %><br />
                  <% end %>
              </div>
           
      </div>    
    </center>
    
  </div>
  
















      




