  <br><br>
  <center><h3>Chore Name</h3></center>
  <%= form_for([list, list.chores.new], html: {class: "change-name"}) do |f| %>
  <% f.hidden_field :list_id, value: list.id %>
    <div class="field">
      <div class="new-chore-error">
      </div>
      <center>
        <%= f.text_field :name, :value => "", :class => 'edit_chore', :maxlength => 100, :size => 60 %><br>
      </center>
    </div>

  <div class="field">
    <center>
      <h3>Frequency</h3>
      <%= f.radio_button :frequency, 'daily', onClick: "resetradio()", :checked => true %> Daily |
      <%= f.radio_button :frequency, 'weekly', onClick: "resetradio()", :checked => false %> Weekly |
      <%= f.radio_button :frequency, 'monthly', onClick: "resetradio()", :checked => false %> Monthly
      <div class="buttons">
        <br>
        When should this chore be completed?<br>
        <%= f.radio_button :time_of_day, 'morning', onClick:"setradio()", :checked => false %> Morning | 
        <%= f.radio_button :time_of_day, 'evening', onClick:"setradio()", :checked => false %> Evening |
        <%= f.radio_button :time_of_day, '', onClick:"setradio()", :checked => true %> Any Time
      </div>
    </center>
    </div>

    <div class="actions">
      <%= f.submit 'Create Chore', :class => 'create-chore edit_name_button' %>
    </div>
    

  <% end %>



