<div class="column1_line">

  <%= form_for list_chores_path(@list.id) do |f| %>
    <div class="field">
      <center>
        <h2><%= f.label 'Create a new Chore'%></h2>
      <%= f.text_field :name %><br>
    </center>
    </div>

  <div class="field">
    <center>
      <h3>Frequency</h3>
      <%= f.radio_button :frequency, 'Daily', onClick: "resetradio()" %> Daily |
      <%= f.radio_button :frequency, 'Weekly', onClick: "resetradio()" %> Weekly |
      <%= f.radio_button :frequency, 'Weekly', onClick: "resetradio()" %> Monthly
      <div class="buttons">
      <br>
      When should this chore be completed?<br>
          <%= f.radio_button :time_of_day, 'Morning', onClick:"setradio()" %> Morning | 
          <%= f.radio_button :time_of_day, 'Evening', onClick:"setradio()" %> Evening |
          <%= f.radio_button :time_of_day, 'Any Time', onClick:"setradio()" %> Any Time
      </div>
    </center>
    </div>

    <div class="actions">
      <%= f.submit "Create Chore" %>
    </div>

  <% end %>
</div>