<script type="text/javascript">


function resetradio () {
      var radio = document.getElementsByName('chore[frequency]')[0];
      var buttons = document.querySelector('.buttons');
      var radios = document.getElementsByName('chore[time_of_day]');
      radios[2].checked = true;
      if (radio.checked == true) {
          buttons.style.display = 'block';
      }
      else {
          buttons.style.display = 'none';
          radios.forEach(function(radio){
            radio.checked = false;
          })
      }
  }
  function setradio () {
      var radio = document.getElementsByName('chore[frequency]')[0];
      if (radio.checked == false) {
          radio.checked = true;
      }
  }

//submit new chore
  $(function () {
    $('form').submit(function(event) {
      //debugger;
      var action = $(this).attr('action')
      var values = $(this).serialize();
      var posting = $.post(action, values);
      
      
      

      event.preventDefault();
      posting.done(function(data) {
        let newChore = new NewChore(data)
        let newChoreHTML = newChore.formatCell()
        if (data.frequency === "daily") {
          $("#daily").append(newChoreHTML);
        } else if (data.frequency === "weekly") {
          $("#weekly").append(newChoreHTML);
        } else {
          $("#monthly").append(newChoreHTML);
        }

      

        // TODO: handle response
      });
    });

    function NewChore(chore){
            this.id = chore.id
            this.list_id = chore.list.id
            this.name = formatName(chore)
            this.time_of_day = chore.time_of_day
            this.frequency = chore.frequency
        }

        function formatName(chore){
            if (chore.time_of_day === "morning"){
                return `☀ ${chore.name}`
            } else if (chore.time_of_day === "evening"){
                return `☾ ${chore.name}`
            } else {
                return `${chore.name}`
            }
        }

        NewChore.prototype.formatCell = function() {
            //debugger;  
          return `
                    <div class="item ${this.frequency}">
                        <center>${this.name} <br><a href="#" class="delete-chore" data-id='[${this.id}, ${this.list_id}]'>✖</a><a href="/lists/${this.list_id}/chores/${this.id}">✎</a> </center>
                    </div>
    
                    `
        }

  
  
  
  });

  $(function () {
  /// delete chore
  $(document).on('click','.delete-chore', function(event) {
    var ids = $(this).data("id");
    var url = `/lists/${ids[1]}/chores/${ids[0]}`
    $.ajax ({
      method: 'DELETE',
      url: url,
      headers: {
  'X-Transaction': 'POST Example',
  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
}, 
    }).done(function(data){
      if ($(`.${data.frequency}`).length === 1) {
        $(`#${data.id}`).remove();
        $(`#${data.frequency}`).html(`<br><br><center>You need to create some ${data.frequency} chores.</center><br>`)
      } else {
        //$(`#${data.id}`).remove();
        $(`#${data.frequency}`).load(location.href+` #${data.frequency}>*`,"");
      }
    })

    event.preventDefault();
  })
})



</script>


<div class="column1_line">
  <center><h2>Add a New Chore</h2></center>
  <br>
  <%= form_for([list, list.chores.new]) do |f| %>
  <% f.hidden_field :list_id, value: list.id %>
    <div class="field">
      <center>
        <%= f.text_field :name, :value => "ex: make bed, feed cats, etc.", :class => 'edit_chore', :maxlength => 100, :size => 60 %><br>
      </center>
    </div>

  <div class="field">
    <center>
      <h3>Frequency</h3>
      <%= f.radio_button :frequency, 'daily', onClick: "resetradio()", :checked => true %> Daily |
      <%= f.radio_button :frequency, 'weekly', onClick: "resetradio()", :checked => false %> Weekly |
      <%= f.radio_button :frequency, 'monthly', onClick: "resetradio()", :checked => false %> Monthly
      <div class="buttons">
        <br>
        When should this chore be completed?<br>
        <%= f.radio_button :time_of_day, 'morning', onClick:"setradio()", :checked => false %> Morning | 
        <%= f.radio_button :time_of_day, 'evening', onClick:"setradio()", :checked => false %> Evening |
        <%= f.radio_button :time_of_day, '', onClick:"setradio()", :checked => true %> Any Time
      </div>
    </center>
    </div>

    <div class="actions">
      <%= f.submit 'Create Chore', :class => 'create-chore' %>
    </div>

  <% end %>
</div>