<script type="text/javascript">


function resetradio () {
      var radio = document.getElementsByName('chore[frequency]')[0];
      var buttons = document.querySelector('.buttons');
      var radios = document.getElementsByName('chore[time_of_day]');
      radios[2].checked = true;
      if (radio.checked == true) {
          buttons.style.display = 'block';
      }
      else {
          buttons.style.display = 'none';
          radios.forEach(function(radio){
            radio.checked = false;
          })
      }
  }
  function setradio () {
      var radio = document.getElementsByName('chore[frequency]')[0];
      if (radio.checked == false) {
          radio.checked = true;
      }
  }


  $(function () {
    $('form').submit(function(event) {
      var posting = $.post(this.action, values);
 
      posting.done(function(data) {
        // TODO: handle response
      });
      event.preventDefault();
    });
  
  
    function resetradio () {
      var radio = document.getElementsByName('chore[frequency]')[0];
      var buttons = document.querySelector('.buttons');
      var radios = document.getElementsByName('chore[time_of_day]');
      radios[0].checked = false;
      if (radio.checked == true) {
          buttons.style.display = 'block';
      }
      else {
          buttons.style.display = 'none';
          radios.forEach(function(radio){
            radio.checked = false;
          })
      }
  }
  function setradio () {
      var radio = document.getElementsByName('chore[frequency]')[0];
      if (radio.checked == false) {
          radio.checked = true;
      }
  }
  
  
  
  
  });



</script>


<div class="column1_line">
  <center><h2>Add a New Chore</h2></center>
  <br>
  <%= form_for([list, list.chores.new]) do |f| %>
    <div class="field">
      <center>
        <%= f.text_field :name, :value => "ex: make bed, feed cats, etc.", :class => 'edit_chore', :maxlength => 100, :size => 60 %><br>
      </center>
    </div>

  <div class="field">
    <center>
      <h3>Frequency</h3>
      <%= f.radio_button :frequency, 'daily', onClick: "resetradio()", :checked => false %> Daily |
      <%= f.radio_button :frequency, 'weekly', onClick: "resetradio()", :checked => false %> Weekly |
      <%= f.radio_button :frequency, 'monthly', onClick: "resetradio()", :checked => false %> Monthly
      <div class="buttons" style="display:none">
        <br>
        When should this chore be completed?<br>
        <%= f.radio_button :time_of_day, 'morning', onClick:"setradio()", :checked => false %> Morning | 
        <%= f.radio_button :time_of_day, 'evening', onClick:"setradio()", :checked => false %> Evening |
        <%= f.radio_button :time_of_day, '', onClick:"setradio()", :checked => false %> Any Time
      </div>
    </center>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>