<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <meta charset=utf-8 />
    <title>ChoreTrackerOnRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
        <% if user_signed_in? %>
            <div class="dropdown">
              <button class="dropbtn">☰</button>
              <div class="dropdown-content">
                <%= link_to 'Your Lists', lists_path %>
                <%= link_to 'Your Account', edit_user_registration_path %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
              </div>
            </div>
        <% else %>
          <div class="dropdown">
            <button class="dropbtn">☰</button>
            <div class="dropdown-content">
              <%= link_to 'Login', new_user_session_path %>
            </div>
          </div>
        <% end %>
      <%= yield %>
    </div>



</html>
